body { background: #f73a46; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 28px; display: flex; }
.block-email-0 { color: #644f01; font-size: 19px; margin-bottom: 5px; }
.block-invoice-1 { color: #323aff; font-size: 20px; margin-bottom: 5px; }
.block-filter-2 { color: #254010; font-size: 21px; margin-bottom: 5px; }
.block-search-3 { color: #346d46; font-size: 21px; margin-bottom: 5px; }
.block-sms-4 { color: #5a2322; font-size: 21px; margin-bottom: 5px; }